altgraph @ file:///home/linux1/recipes/ci/altgraph_1611055153312/work
certifi==2021.5.30
chardet==4.0.0
docopt==0.6.2
future @ file:///C:/ci/future_1607568713721/work
idna==2.10
macholib @ file:///home/linux1/recipes/ci/macholib_1611055836792/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854182866/work
mkl-service==2.3.0
numpy==1.20.3
pandas @ file:///C:/ci/pandas_1618365625310/work
pefile==2019.4.18
pipreqs==0.4.10
pycryptodome @ file:///C:/ci/pycryptodome_1613765394692/work
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pywin32==228
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1607553594546/work
requests==2.25.1
six @ file:///C:/ci/six_1605205404068/work
urllib3==1.26.6
wincertstore==0.2
yarg==0.1.9
